module(load="imtcp")

template(name="KTXByHost" type="string"
         string="/var/log/ktx/%HOSTNAME%/%PROGRAMNAME%.log")

ruleset(name="ktxRemote") {
    action(type="omfile" dynaFile="KTXByHost" createDirs="on")
    stop
}

input(type="imtcp" port="514" ruleset="ktxRemote")
