services:
  rustdesk:
    image: ktx/rustdesk-server:REPLACE_RELEASE
    container_name: ktx-rustdesk-01
    hostname: ktx-rustdesk-01
    restart: unless-stopped
    environment:
      RUSTDESK_RELAY_HOST: "rustdesk.example.com"
    volumes:
      - /srv/ktx/data/rustdesk-01:/data
    ports:
      - "21115:21115/tcp"
      - "21116:21116/tcp"
      - "21116:21116/udp"
      - "21117:21117/tcp"
